body {
	font-family: 굴림체
}

div.body {
	overflow-y: auto;
	scrollbar-face-color: #C9BFED;
	scrollbar-shadow-color: #EDEDED;
	margin-top: 50px;
	margin-bottom: 50px;
}

div.cart {
	border: 1px solid gray;
	width: 320px;
	height: 58px;
}

tr.header {
	background: #C9BFED;
}

tr.record {
	background: #EDEDED;
}

input.userEmail {
	height: 20px;
	width: 150px;
	border-width: 1px;
	border-style: solid;
}

input.userPasswd {
	height: 20px;
	width: 150px;
	border-width: 1px;
	border-style: solid;
}

input.userAlias {
	height: 20px;
	width: 150px;
	border-width: 1px;
	border-style: solid;
}

input.userPostcode {
	height: 20px;
	width: 80px;
	border-width: 1px;
	border-style: solid;
}

input.userAddress2 {
	height: 20px;
	width: 240px;
	border-width: 1px;
	border-style: solid;
}

span {
	color: red;
}