.align-center{
	margin:0 auto;
}

.navbar {
	padding: 0;
	margin: 0;
}

#loginButtons {
	margin: 5px;
	padding: 5px;
	float: right;
}

#top {
	margin: 0px;
	padding: 0px;
}

.member-button {
	margin: 2px;
}

.login-button {
	margin: 2px;
}

#logo {
	display: inline;
}

.logo {
	display: inline;
	margin-left: 5px;
	height: 40px;
}

.intro {
	width: 100%;
	height: auto;
}


/* =======회원가입 폼========= */

#memberEntryBox{
	width:40%;
	margin:0 auto;
}
@media(max-width: 768px ) {
	#memberEntryBox{
	width:98%;
	margin:0 auto;
	}
}

.input-size{
	padding-bottom:10px;
}

label{
	padding-right:5px;
	padding-bottom:5px;	
}

.button-doubleCheck{
	display:block;
	padding-top:3px;
}

/* === carousel fade 효과 ==== */
.carousel-fade .item {
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

.carousel-fade .active.left {
	left: 0;
	opacity: 0.3;
	z-index: 2;
}

.carousel-fade .next {
	left: 0;
	opacity: 0.3;
	z-index: 1;
}
/* ===== 회원가입 Modal ====== */
 .terms
    {
     font-size: 11px;
      width:90%; 
      margin: 0 auto;
    }

    @media (max-width: 768px)
    {
       .terms
       {
           font-size: 10px; 
       }
    }
    
 .hang{
 text-indent:8px; 
 }
 
 .ho{
 text-indent:12px;
 }
 
 .lowpart{
 padding:10px;
 margin:10px;
 }
 
  
/*  ====== 회원가입 결과 창 ========  */ 

.memberResult{
	width:40%;
	margin:0 auto;
	padding-top:50px;
}
@media(max-width: 768px ) {
	.memberResult{
	width: 98%;
	margin: 0 auto;
	padding-top: 5px;
	font-size: smaller;
	font-family: -webkit-pictograph;
	}
}

.memberSuccessFont{
	font-size: 1em;
	color:blue;
	display:inline;
}
@media(max-width: 768px ) {
	.memberSuccessFont{
	font-size: 1em;
	color:green;
	display:inline;
	}
}
 
 
/**********************테이블*****************/
.tableType,.tableType th,.tableType td {
	border: 0
}

.tableType a {
	color: #383838;
	text-decoration: none
}

.tableType {
	font-family: "맑은 고딕";
	width: 50%;
	/* border-bottom: 1px solid #999; */
	color: #666;

	font-size: 12px;
	table-layout: fixed
}
@media (max-width: 763px){
    .tableType{
        margin:0 auto; width: 98%
    }
}

.tableType .frm label {
	display: none
}

.tableType th {
	padding: 5px 0 4px;
	border-bottom: solid 1px #d2d2d2; 
	text-align : center;
	font-weight: bold;
									line-height: 5px; 높이  : 이걸 널경우 반응형 특히 모바일로 갈수록 글자가 겹치는 현상이 나타남
	vertical-align: middle;
}

.tableType td {
	padding: 8px 10px 5px;
	border-bottom: solid 1px #d2d2d2;         #d2d2d2; 회색
}

/* ==========* footer *=========== */
#fixedBottom{
	margin-right: auto;
	margin-left: auto;
	width:100%;
}

#footer {
	background-color: #1fa67a;
	border-top: 1px solid #1b926c;
	color: #a5d8c7;
	text-shadow: 0 2px 1px rgba(0, 0, 0, 0.15);
	position: relative;
	display: block;
}

.footerContainer{
	width:100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-size:1em;
}

#footer .footerContainer {
	padding-top: 10px;
}

@media (max-width: 992px){
	.footerContainer {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	width: 100%;
	font-size:0.8em;
	}
}
@media (max-width: 768px){
	.footerContainer {
	width: 100%;
	font-size:0.8em;
	}
}


#footer .tFooter{
	color: #d2ebe3;
}
.tFooter{
	color: #21b384;
	text-decoration: none;
}


#footer .aFooter{
	color: #d2ebe3;
	border-bottom: dotted 1px #a5d8c7;
}
.aFooter{
	color: #21b384;
	text-decoration: none;
}

.aFooter:-webkit-any-link {
color: -webkit-link;
cursor: auto;
}

/* ==================aboutUs===================== */
.aboutUs_bg{
	margin-top:20px;
	margin-bottom:20px;
}
@media (max-width: 768px){
	.aboutUs_bg {
	margin:0;
	}
}