.navbar {
	padding: 0;
	margin: 0;
}

#loginButtons {
	margin: 5px;
	padding: 5px;
	float: right;
}

#top {
	margin: 0px;
	padding: 0px;
}

.member-button {
	margin: 2px;
}

.login-button {
	margin: 2px;
}

#logo{
	display:inline;
}
.logo {
	display:inline;
	margin-left:5px;
	height: 50px;
}



.intro {
	width: 100%;
	height: auto;
}

/* === carousel fade 효과 ==== */
.carousel-fade .item {
	-webkit-transition: opacity 2s;
	-moz-transition: opacity 2s;
	-ms-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}

.carousel-fade .active.left {
	left: 0;
	opacity: 2;
	z-index: 2;
}

.carousel-fade .next {
	left: 0;
	opacity: 1;
	z-index: 1;
}

body {
  padding-top: 0px;
  padding-bottom: 40px;
  background-color: #eee;
}

/* ========= form sign-in css 시작 ========= */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* ========= form sign-in css 종료 ========= */